/*this is a comment in CSS*/
html {
    background-color: #E7E7E7;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

h1 {
    font-size: 50px;
    /*font-variant: small-caps;*/
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span {
    color: #12279e;
}

.title a {
    text-decoration: none;
    color: #000;
}

.title a:hover {
    color: #ff0000;
    cursor: crosshair;
    background-color: unset;
    /*border-style:outset;*/
}

.title a:hover::before {
    content: "♥";
}

header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

header p a:hover::after {
    content: " ♥ ";
}

/*ALL a href LINKS*/
nav {
    padding: 8px;
    background-color: #000;
}

ul {
    list-style-type: none;
    text-decoration: none;
}

li a {
    text-decoration: none;
    color: #E7E7E7;
    cursor: crosshair;
    letter-spacing: 3px;
    padding: 10px;
}

li a:hover {
    color: #000;
    background-color: #E7E7E7;
    font-family: 'Courier Prime', monospace;
    font-size: larger;
    display: block;
    border-radius: 1px;
    
}

section a:link {
    text-decoration: none;
    color: #000;
}

a:active {
    text-decoration: none;
    color: #000;
}

a:visited {
    color: none;
}

.flex {
    display: flex;
    height: 1080px;
}

#sideNav {
    width: 240px;
    margin: 0 auto;
    border-radius: 0 0 2px 2px;
    transition: width 1s;
    /*opacity: 0.8;*/
}

#sideNav:hover {
    width: 300px;
}

#sideNav li a:hover {
    background-color: #E7E7E7;
    color: #000;
}

main {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

#flexLeft {
    width: 30%;
    background-color: #E7E7E7;
    /*display: flex;
    justify-content: flex-start;*/
}

#mainSide {
    color: #E7E7E7;
    text-align: center;
    text-shadow: 2px 2px 5px #000;
    padding: 15px;
    font-size:large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article {
    
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    padding: 10px;
}

article img {
    width: 90%;
}

/*contact PAGE SPECIFICS*/
img {
    margin: 0 auto;
    border-radius: 5px 50px;
    /*display: flex;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    color: rgb(255, 255, 255);
    font-size: 12px;
    text-align: center;
    padding: 50px;
}

@media screen and (max-width: 750px) {
    h1 {
        width: 70%;
    }
}


/*#topNav ul {
    display: flex;
    justify-content:space-evenly;
}

#topNav a {
    
}

#topNav a:hover {
    
    
}

#sideNav a {

}

#sideNav a:hover {
    
    
}


/*em{
    display: inline;
}

img {
    border-radius: 10px;
    border: 3px solid hotpink;
    padding: 10px;
}

.contact-images {
    width: auto;
    height: auto;
}

ul {
    list-style-type: disc;
    border: 1px solid red;
}

ol{
    list-style-type: none;
    border: 1px solid red;
}

table {
    border-spacing: 0;
    margin-bottom: 20px;
    border-bottom: 10px solid #000;
    background-color: darkblue;
    margin-bottom: 20px;
}

td {
    border: 1px solid grey;
    padding: 3px;
}

.container {
    display: block;
    background: url(../Images/dorsa-masghati-NRLnzGXtoE4-unsplash.jpg) no-repeat top right navy;
}

.wrapper {
    display: block;
    width: 500px;
    margin: 0 auto;
}

span{
    padding-left: 15px;
    border-bottom: 3px solid red;
    border-left: 3px solid red;
    background-color: pink;
}

#mainContainer {
    border: 10px solid red;
    background-image: url(../Images/dorsa-masghati-NRLnzGXtoE4-unsplash.jpg);
    padding: 50px;
    background-position: top left;
}

#business {
    display: block;
    width: 500px;
    margin: 0 auto;
}

display: flex;
justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    align-content: ;
    flex-wrap:wrap-reverse;*/